$dark-blue: (
  50: #001E73,
  100: #001E73,
  200: #001E73,
  300: #001E73,
  400: #001E73,
  500: #001E73,
  600: #001E73,
  700: #001E73,
  800: #001E73,
  900: #001E73,
  A100: #001E73,
  A200: #001E73,
  A400: #001E73,
  A700: #001E73,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);