$error-red: (
  50: #BB0628,
  100: #BB0628,
  200: #BB0628,
  300: #BB0628,
  400: #BB0628,
  500: #BB0628,
  600: #BB0628,
  700: #BB0628,
  800: #BB0628,
  900: #BB0628,
  A100: #BB0628,
  A200: #BB0628,
  A400: #BB0628,
  A700: #BB0628,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);