$human-blue: (
  50: #0046BE,
  100: #0046BE,
  200: #0046BE,
  300: #0046BE,
  400: #0046BE,
  500: #0046BE,
  600: #0046BE,
  700: #0046BE,
  800: #0046BE,
  900: #0046BE,
  A100: #0046BE,
  A200: #0046BE,
  A400: #0046BE,
  A700: #0046BE,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
    )
  );