.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-card {
  margin: 15px;
}

mat-tab{
	display: flex;
}
mat-card-content{
	margin-left: 15px;
}

.example-container {
  display: flex;
  flex-direction: column;
}
