.example-button-row{
	display: grid;
}
.example-button-row button,
.example-button-row a {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 400px;
}

.example-card {
	margin: 15px;
}

mat-tab{
	display: flex;
}
mat-card-content{
	margin-left: 15px;
}

.example-container {
	display: flex;
	flex-direction: column;
}

.example-spacer {
	flex: 1 1 auto;
}

#firstParagraph{
	padding-top: 20px;
}

#title{
	font-size: 18px;
	font-weight: 400;
}

#sidenav{
	display: flex;
}
.sidenavLink{
	display: list-item;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}


